@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
html {
  background-color: black;
  padding: 6%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #191716;
  background-color: white;
  margin: 0;
  padding: 1em;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #E54ED0;
  font-size: 75px;
  margin: 0;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
h1 {
  animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 300ms steps(29, end) infinite;
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 95.5%;
  }
}
h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 80px;
}

.intro {
  display: grid;
  grid-template-columns: auto;
}
.intro header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  background: url(https://as1.ftcdn.net/v2/jpg/03/20/56/32/1000_F_320563285_TOPF2MXlnMNGbKO0JhID1IgUe23rW0ep.jpg);
  background-repeat: no-repeat;
  background-size: 1800px 700px;
  max-height: 830px;
  margin-top: 0px;
  text-align: right;
}
.intro header h2 {
  margin-top: 0px;
  color: white;
}
.intro .summary {
  background-color: bisque;
}
.intro #zen-summary {
  padding-top: 1px;
  padding-left: 10px;
  width: 99.4%;
  float: right;
  margin-top: 0px;
}
.intro #zen-summary p:first-of-type {
  float: left;
  width: 60%;
  font-size: 0.9em;
}
.intro #zen-summary p:last-of-type {
  float: right;
  margin-right: 0%;
  font-size: 0.9em;
  padding: 9px;
  box-sizing: border-box;
  background-color: #E54ED0;
}
.intro #zen-summary p:last-of-type a {
  color: #FFFFFF;
  text-decoration: none;
}

.preamble, #zen-preamble {
  display: inline-block;
  margin-right: 80px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  width: 50%;
}

#zen-supporting {
  grid-column: 2/5;
  display: grid;
}

.explanation {
  grid-column: 3/4;
  margin-top: -340px;
}

.participation {
  grid-row: 4;
  grid-column: 1/2;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.benefits {
  grid-column: 3/4;
  height: 210px;
}

.requirements {
  grid-row: 3;
  grid-column: 1/2;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.sidebar {
  position: absolute;
  top: 1050px;
  right: 105px;
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 42%;
}

.design-selection {
  background-color: bisque;
}
.design-selection #design-selection {
  padding-top: 1px;
  padding-left: 10px;
  width: 99.4%;
  float: right;
  margin-top: 0px;
}
.design-selection #design-selection p:first-of-type {
  float: left;
  width: 60%;
  font-size: 0.9em;
}
.design-selection #design-selection p:last-of-type {
  float: right;
  margin-right: 0%;
  font-size: 0.9em;
  padding: 9px;
  box-sizing: border-box;
  background-color: #E54ED0;
}
.design-selection #design-selection p:last-of-type a {
  color: #FFFFFF;
  text-decoration: none;
}

footer {
  grid-column: 1/4;
  grid-row: 5;
}

/*# sourceMappingURL=style.css.map */
