 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

html {
  background-color: black;
  padding: 6%;
 } 


 
.page-wrapper {
  display: grid;
  min-height: 200px;  
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
  justify-items: start;
  align-items: start;
  
 justify-content: end;
}
 
.intro {
  background: url(https://as1.ftcdn.net/v2/jpg/03/20/56/32/1000_F_320563285_TOPF2MXlnMNGbKO0JhID1IgUe23rW0ep.jpg);
  background-repeat: no-repeat;
  width: 955px;
  max-height: 330px;
  margin-top: 0px;
  min-height: 200px;
}

#zen-intro  { background-position: 2px 105px; 
  height: 400px;}

 

     

$background-color1:black;
$primary:#191716;
$text-dark:white;
$head-color:#E54ED0;
$fonts-body: 'Montserrat', sans-serif;
$main_title: 'Orbitron', sans-serif;
body {
  font-family: $fonts-body;
  font-size: 20px;
  color: $primary;
  background-color: $text-dark;
  margin: 0;
  padding: 1em;
}

h1 {
  font-family: $main_title;
  color: $head-color;
  font-size: 55px;
  margin: 0;
  padding: 1em;
}
 