@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
html {
  z-index: 1;
  background: linear-gradient(-60deg, black, black, #191716, #44008B, #0000BA, #E54ED0, #ffd062, #E54ED0, #0000BA, #44008B, #191716, black, black);
  padding: 5%;
  animation: bganimate 20s ease infinite;
  background-size: 500% 500%;
}

@keyframes bganimate {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #191716;
  background-color: white;
  margin: auto;
  padding: 1em;
  max-width: 2200px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  color: #E54ED0;
  font-size: 75px;
  margin: 0;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
h1 {
  animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 300ms steps(29, end) infinite;
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 92.5%;
  }
}
h2 {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 80px;
}

h3 {
  display: grid;
  grid-template-columns: minmax(10px, 0.8fr) auto minmax(10px, 0.8fr);
  align-items: center;
  text-align: center;
  gap: 40px;
  width: 80%;
}

h3::before, h3::after {
  content: "";
  border-top: 8px double;
}

.intro {
  display: grid;
  grid-template-columns: auto;
}

header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  background: url(https://as1.ftcdn.net/v2/jpg/03/20/56/32/1000_F_320563285_TOPF2MXlnMNGbKO0JhID1IgUe23rW0ep.jpg);
  background-repeat: no-repeat;
  background-size: 2200px 700px;
  text-align: right;
}
header h2 {
  margin-top: 0px;
  color: white;
}

.summary {
  background-color: bisque;
}

#zen-summary {
  padding-top: 1px;
  padding-left: 10px;
  width: 99.1%;
  float: right;
  margin-top: 0px;
}

#zen-summary p:first-of-type {
  float: left;
  width: 60%;
  font-size: 0.9em;
}

#zen-summary p:last-of-type {
  float: right;
  margin-right: 0%;
  font-size: 0.9em;
  padding: 9px;
  box-sizing: border-box;
  background-color: #E54ED0;
}

#zen-summary p:last-of-type a {
  color: #FFFFFF;
  text-decoration: none;
}

.preamble, #zen-preamble {
  display: inline;
  margin-right: 80px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  width: 44%;
}

.preamble:before {
  content: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  width: 380px;
  height: 300px;
  display: inline;
  overflow: hidden;
}

#zen-supporting {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 5;
  grid-gap: 40px;
}

.sidebar {
  position: absolute;
  top: 958px;
  left: 840px;
  right: 5px;
  margin: 10px;
  margin-top: 0px;
  margin-left: 30px;
  margin-bottom: 0px;
  width: 380px;
}

.requirements {
  grid-column: 2;
  grid-row: 2/5;
  width: 380px;
}

.participation {
  grid-column: 1;
  grid-row: 2/4;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  width: 380px;
}

.benefits {
  width: 380px;
  grid-column: 1;
  grid-row: 4/5;
}

.explanation {
  grid-column: 1;
  grid-row: 1/2;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 380px;
}

.design-selection {
  background-color: bisque;
}
.design-selection #design-selection {
  padding-top: 1px;
  padding-left: 1px;
  width: 35%;
  float: right;
  margin-top: 0px;
}
.design-selection #design-selection p:first-of-type {
  float: left;
  width: 35%;
  font-size: 0.9em;
}
.design-selection #design-selection p:last-of-type {
  float: right;
  margin-right: 0%;
  font-size: 0.9em;
  padding: 9px;
  box-sizing: border-box;
  background-color: #E54ED0;
}
.design-selection #design-selection p:last-of-type a {
  color: #FFFFFF;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
