 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
html {
  background-color: black;
  padding: 6%;
 } 

 
$background-color1:black;
$primary:#191716;
$text-dark:white;
$head-color:#E54ED0;
$fonts-body: 'Montserrat', sans-serif;
$main_title: 'Orbitron', sans-serif;
body {
  font-family: $fonts-body;
  font-size: 20px;
  color: $primary;
  background-color: $text-dark;
  margin: 0;
  padding: 1em;
  
}

h1 {
  font-family: $main_title;
  color: $head-color;
  font-size: 55px;
  margin: 0;
  padding: 1em;
}


.intro {
  display: grid;
  grid-template-columns: auto;
  grid-row-end: span 3;
  
  header{
    position:relative;
    width: 100%;
    box-sizing:border-box;
    padding-left:10px;
    padding-right:10px;
    background: url(https://as1.ftcdn.net/v2/jpg/03/20/56/32/1000_F_320563285_TOPF2MXlnMNGbKO0JhID1IgUe23rW0ep.jpg);
    background-repeat: no-repeat;
    background-size: 1800px 700px;
    max-height: 830px;
    margin-top: 0px; 
    text-align: right;
      h2 {
        margin-top: 0px;
        color: $text-dark;
      }
  }
  .summary {
    background-color: bisque;
  
    
    } 
    
#zen-summary{
  
  padding-top:1px;
  padding-left: 10px;
  width:99%;
  float:right;
  margin-top: 0px; 
}
#zen-summary p:first-of-type{
  float:left;
  width:60%;
  font-size:0.9em;
}
#zen-summary p:last-of-type{
  float:right;
  margin-right:0%;
  font-size:0.9em;
  padding:9px;
  box-sizing:border-box;
  background-color:$head-color;
  
}
#zen-summary p:last-of-type a{
  color:#FFFFFF;
  text-decoration: none; 
}
.preamble {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  width: 50%;
}
}


#zen-supporting {
  grid-column: 2/5;
  display: grid;

}



.explanation {
  grid-column: 3/4;
  margin-top: -380px;

}

.participation {
  grid-row: 2;
  grid-column: 1/2;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.benefits {
  grid-column: 3/4;

}

.sidebar .wrapper {
   display: grid;
    grid-template-columns: 0.6fr;
    grid-row: 1;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px; 

      .design-selection,
      .design-archives,
      .zen-resources {
      grid-column: 3/4;
       
  
}
}


footer {
  grid-column: 1/4;
  
}
